<table id="example" class="table table-striped" cellspacing="0" >
  <thead>
      <tr>
          <th>Camera Exid</th>
      </tr>
  </thead>
  <tbody>
    <%= for camera_names <- @listing_camera_names do %>
      <tr>
          <td><%= camera_names %></td>
      </tr>
    <% end %>
  </tbody>
</table>