<div class="center-me">
  <div class="ui cards">
    <%= for camera_names <- @listing_camera_names do %>
      <div class="card">
        <div class="content">
          <div class="header"><i class="folder outline icon"></i> <%= camera_names %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>